# Fraud Transaction Prediction

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("E:/Fraud.csv") # reading dataset

In [3]:
df.shape # shape of dataset

(6362620, 11)

In [4]:
df.head() # top five data from dataset

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [5]:
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [7]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [8]:
df['amount'][20] #inefficient

1373.43

In [10]:
df.at[20,'amount']

1373.43

In [11]:
df.amount

0             9839.64
1             1864.28
2              181.00
3              181.00
4            11668.14
              ...
6362615     339682.13
6362616    6311409.28
6362617    6311409.28
6362618     850002.52
6362619     850002.52
Name: amount, Length: 6362620, dtype: float64

In [12]:
df['amount']

0             9839.64
1             1864.28
2              181.00
3              181.00
4            11668.14
              ...
6362615     339682.13
6362616    6311409.28
6362617    6311409.28
6362618     850002.52
6362619     850002.52
Name: amount, Length: 6362620, dtype: float64

In [13]:
df[['amount','isFraud']]

             amount  isFraud
0           9839.64        0
1           1864.28        0
2            181.00        1
3            181.00        1
4          11668.14        0
...             ...      ...
6362615   339682.13        1
6362616  6311409.28        1
6362617  6311409.28        1
6362618   850002.52        1
6362619   850002.52        1

[6362620 rows x 2 columns]

In [15]:
df_copy=df.copy()
df_copy

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [16]:
df.loc[24] # accessing a row

step                        1
type                 TRANSFER
amount              311685.89
nameOrig          C1984094095
oldbalanceOrg         10835.0
newbalanceOrig            0.0
nameDest           C932583850
oldbalanceDest         6267.0
newbalanceDest     2719172.89
isFraud                     0
isFlaggedFraud              0
Name: 24, dtype: object

In [17]:
df.head(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [19]:
df.loc[24:50] # accessing rows

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
24,1,TRANSFER,311685.89,C1984094095,10835.00,0.00,C932583850,6267.0,2719172.89,0,0
25,1,PAYMENT,6061.13,C1043358826,443.00,0.00,M1558079303,0.0,0.00,0,0
26,1,PAYMENT,9478.39,C1671590089,116494.00,107015.61,M58488213,0.0,0.00,0,0
27,1,PAYMENT,8009.09,C1053967012,10968.00,2958.91,M295304806,0.0,0.00,0,0
28,1,PAYMENT,8901.99,C1632497828,2958.91,0.00,M33419717,0.0,0.00,0,0
29,1,PAYMENT,9920.52,C764826684,0.00,0.00,M1940055334,0.0,0.00,0,0
30,1,PAYMENT,3448.92,C2103763750,0.00,0.00,M335107734,0.0,0.00,0,0
31,1,PAYMENT,4206.84,C215078753,0.00,0.00,M1757317128,0.0,0.00,0,0
32,1,PAYMENT,5885.56,C840514538,0.00,0.00,M1804441305,0.0,0.00,0,0
33,1,PAYMENT,5307.88,C1768242710,0.00,0.00,M1971783162,0.0,0.00,0,0
34,1,PAYMENT,5031.22,C247113419,0.00,0.00,M151442075,0.0,0.00,0,0
35,1,PAYMENT,24213.67,C1238616099,0.00,0.00,M70695990,0.0,0.00,0,0
36,1,PAYMENT,8603.42,C1608633989,253.00,0.00,M1615617512,0.0,0.00,0,0
37,1,PAYMENT,2791.42,C923341586,300481.00,297689.58,M107994825,0.0,0.00,0,0
38,1,PAYMENT,7413.54,C1470868839,297689.58,290276.03,M1426725223,0.0,0.00,0,0
39,1,PAYMENT,3295.19,C711197015,233633.00,230337.81,M1384454980,0.0,0.00,0,0
40,1,PAYMENT,1684.81,C1481594086,297.00,0.00,M1569435561,0.0,0.00,0,0
41,1,DEBIT,5758.59,C1466917878,32604.00,26845.41,C1297685781,209699.0,16997.22,0,0
42,1,CASH_OUT,110414.71,C768216420,26845.41,0.00,C1509514333,288800.0,2415.16,0,0
43,1,PAYMENT,7823.46,C260084831,998.00,0.00,M267814113,0.0,0.00,0,0
44,1,PAYMENT,5086.48,C598357562,0.00,0.00,M1593224710,0.0,0.00,0,0
45,1,PAYMENT,5281.48,C1440738283,152019.00,146737.52,M1849015357,0.0,0.00,0,0
46,1,PAYMENT,13875.98,C484199463,15818.00,1942.02,M2008106788,0.0,0.00,0,0
47,1,CASH_OUT,56953.90,C1570470538,1942.02,0.00,C824009085,70253.0,64106.18,0,0
48,1,CASH_OUT,5346.89,C512549200,0.00,0.00,C248609774,652637.0,6453430.91,0,0
49,1,PAYMENT,2204.04,C1615801298,586.00,0.00,M490391704,0.0,0.00,0,0
50,1,PAYMENT,2641.47,C460570271,23053.00,20411.53,M1653361344,0.0,0.00,0,0

In [20]:
df.sample(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
3270542,251,CASH_IN,70824.94,C104177279,10340776.60,10411601.54,C402100973,391159.36,320334.42,0,0
3881504,283,CASH_OUT,66967.40,C1173994982,126234.84,59267.44,C366311900,195346.99,262314.39,0,0
5077026,355,CASH_OUT,28666.57,C1272406435,113539.00,84872.43,C913217980,793249.82,821916.39,0,0
4798458,345,TRANSFER,1197734.35,C1014581555,151.00,0.00,C1926418426,25140.33,1222874.68,0,0
5702341,398,TRANSFER,984388.59,C306691982,0.00,0.00,C525048395,2248975.19,3233363.78,0,0
5206504,370,CASH_OUT,13730.36,C2094156213,0.00,0.00,C557793427,1398045.07,1411775.43,0,0
4666162,330,CASH_OUT,107544.54,C1852631832,0.00,0.00,C672637887,2946061.63,3053606.16,0,0
2526218,205,CASH_IN,89867.31,C978993138,12726.00,102593.31,C676644216,0.00,0.00,0,0
1772988,162,PAYMENT,12628.25,C990532448,30913.00,18284.75,M1589406354,0.00,0.00,0,0
2979384,231,PAYMENT,9388.44,C2141766459,213281.87,203893.43,M760735027,0.00,0.00,0,0

In [23]:
isFraud_sum=df.isFraud.sum()
isFraud_sum

8213

In [18]:
df.tail(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

### Data cleaning including missing values, outliers and multi-collinearity.

In [6]:
# Check for missing values
print(df.isnull().sum())

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [7]:
# import numpy as np
# from scipy.stats import zscore

# z_scores = np.abs(zscore(df)) # Calculate z-scores for all columns

# # Define the threshold for outlier detection
# threshold = 3

# df = df[(z_scores <= threshold).all(axis=1)] # Remove outliers from all columns

In [8]:
%%time
import numpy as np

def remove_outliers(df, threshold=3):
    numerical_cols = df.select_dtypes(include=np.number).columns
    categorical_cols = df.select_dtypes(exclude=np.number).columns
    
    # Calculate z-scores for numerical columns
    z_scores = np.abs((df[numerical_cols] - df[numerical_cols].mean()) / df[numerical_cols].std())
    
    # Calculate modified z-scores for numerical columns
    median = np.median(df[numerical_cols], axis=0)
    deviation = np.abs(df[numerical_cols] - median)
    median_deviation = np.median(deviation, axis=0)
    modified_z_scores = 0.6745 * deviation / median_deviation
    
    # Identify rows where any of the z-scores exceed the threshold for numerical columns
    numerical_mask = np.any(z_scores > threshold, axis=1)
    modified_mask = np.any(modified_z_scores > threshold, axis=1)
    
    # Combine masks for numerical columns
    combined_mask = np.logical_or(numerical_mask, modified_mask)
    
    # Filter the dataset by applying the combined mask only to numerical columns
    filtered_df = df[combined_mask | df[categorical_cols].notna().any(axis=1)]
    
    return filtered_df

df = remove_outliers(df)

KeyboardInterrupt:

In [ ]:
import pandas as pd
import seaborn as sns

# Calculate correlation matrix
corr_matrix = df.corr()
corr_matrix

In [ ]:
# Visualize correlation matrix as a heatmap
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm')

In [ ]:
%%time

# Set correlation coefficient threshold
threshold = 0.8

# Iterate through the correlation matrix and identify highly correlated variables
highly_correlated_vars = []
for column in corr_matrix:
    correlated_vars = corr_matrix[corr_matrix[column] > threshold].index.tolist()
    highly_correlated_vars.extend(correlated_vars)

# Remove duplicates from the list
highly_correlated_vars = list(set(highly_correlated_vars))

# Print the highly correlated variables
print(highly_correlated_vars)

**Drop the following variables to reduce multicollinearity**:

`step`: This variable represents a unit of time in the simulation and may not have a direct impact on fraud detection.

`amount`: Although it may seem intuitive that transaction amount could be related to fraud, in practice, it may not provide significant predictive power and can potentially introduce noise due to varying transaction sizes.

It is generally advisable to drop the `amount` column because the transaction amount alone may not provide significant predictive power for detecting fraudulent transactions. However, the step column represents a unit of time in the simulation, and it may contain valuable information related to fraud patterns over time. Hence, we will retain the `step` column.

In [ ]:
# Drop highly correlated variables from the DataFrame
df = df.drop(columns=['amount'])

### Describe your fraud detection model in elaboration.

Fraud detection models are designed to identify fraudulent activities or transactions within a given system or dataset. These models leverage various techniques from the field of data science which are as follow:

1. Data preprocessing: This involves tasks such as handling missing values, outlier detection and treatment, feature scaling, and encoding categorical variables.

2. Model selection: he choice of the model depends on the specific requirements of the fraud detection task. We will use Random forest classifier here.

3. Training and validation: The model is trained using labeled data, where fraudulent and non-fraudulent transactions are labeled. The model is then validated using evaluation metrics such as accuracy, precision, recall, F1-score, or area under the ROC curve (AUC-ROC) to assess its performance.

4. Model Evaluation: The trained model is evaluated using a separate set of test data that the model has not seen during training.

### How did you select variables to be included in the model?

Based on the provided information about the dataset, it is good idea to drop the `nameOrig` and `nameDest` columns because these columns represent customer names or identifiers, which may not be directly relevant or informative for the fraud detection task.

Including customer names or identifiers in the analysis can introduce noise and potentially violate privacy considerations. Moreover, in reallife as well fraud patterns are generally identified based on transactional or behavioral features rather than individual customer identities.

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

# Drop irrelevant columns (if any)
irrelevant_cols = ['nameOrig', 'nameDest']
df.drop(columns=irrelevant_cols, inplace=True)

In [ ]:
df.columns

In [ ]:
# Feature scaling
scaler = StandardScaler()
numerical_cols = ['oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Encoding categorical variables
categorical_cols = ['type']
label_encoder = LabelEncoder()

for col in categorical_cols:
    df[col] = label_encoder.fit_transform(df[col])

In [ ]:
df.head()

In [ ]:
# Split into features and target variable
X = df.drop(columns=['isFraud'])
y = df['isFraud']

In [ ]:
X.columns

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
%%time

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Initialize the Random Forest Classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Evaluate the model
print(classification_report(y_test, y_pred))

### Demonstrate the performance of the model by using best set of tools.

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Calculate precision
precision = precision_score(y_test, y_pred)

# Calculate recall
recall = recall_score(y_test, y_pred)

# Calculate F1-score
f1 = f1_score(y_test, y_pred)

# Calculate AUC-ROC
auc_roc = roc_auc_score(y_test, y_pred)

# Print the evaluation metrics
print("Accuracy: {}".format(accuracy))
print("Accuracy: {:.2f}".format(accuracy))
print("Precision: {:.2f}".format(precision))
print("Recall: {:.2f}".format(recall))
print("F1-Score: {:.2f}".format(f1))
print("AUC-ROC: {:.2f}".format(auc_roc))

In [ ]:
# Make predictions on the testing data
y_pred = model.predict(X_test)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
auc_roc = roc_auc_score(y_test, y_pred)

# Print the evaluation metrics
print("Accuracy: {:.4f}".format(accuracy))
print("Precision: {:.4f}".format(precision))
print("Recall: {:.4f}".format(recall))
print("F1-Score: {:.4f}".format(f1))
print("AUC-ROC: {:.4f}".format(auc_roc))

# Generate and print the confusion matrix
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)

In [ ]:
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve

# Get predicted probabilities for positive class
y_pred_prob = model.predict_proba(X_test)[:, 1]

# Compute the false positive rate, true positive rate, and thresholds
fpr, tpr, thresholds = roc_curve(y_test, y_pred_prob)

# Plot the ROC curve
plt.plot(fpr, tpr)
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('ROC Curve')
plt.show()

###  What are the key factors that predict fraudulent customer?

In [ ]:
import matplotlib.pyplot as plt

# Get feature importances from the trained model
feature_importances = model.feature_importances_

# Sort feature importances in descending order
sorted_indices = feature_importances.argsort()[::-1]
sorted_feature_importances = feature_importances[sorted_indices]

# Get the corresponding feature names
sorted_feature_names = X.columns[sorted_indices]

# Plot the feature importances
plt.figure(figsize=(10, 6))
plt.bar(sorted_feature_names, sorted_feature_importances)
plt.xticks(rotation=90)
plt.xlabel('Feature')
plt.ylabel('Importance')
plt.title('Feature Importances')
plt.tight_layout()
plt.show()

### Do these factors make sense? If yes, How? If not, How not?

From above graph we can clearly see that newbalanceDest and oldbalanceOrg are most significant for predicting fraudlent transactions. These may or may not make sense depending upon specific context and characteristics of dataset. As per my observation or thinking these make sense.

**Example:**

`newbalanceDest` make sense because significant changes in the recipient's balance, especially after a transaction, could indicate suspicious or fraudulent activity. Frauds often involve transferring funds to another account to hide or distribute the stolen money, resulting in substantial changes in the recipient's balance.


`oldbalanceOrg` make sense because sudden reductions in the originator's balance, particularly before a transaction, could be indicative of fraudulent behavior. Frauds often involve unauthorized access or fraudulent actions on the originator's account, leading to abnormal decreases in the balance.

### What kind of prevention should be adopted while company update its infrastructure?

Based on the insights obtained from the model predictions, here are some preventive measures that can be adopted while updating the company's infrastructure:

1. Enhanced Authentication and Access Controls: Strengthen the authentication mechanisms and access controls for customer accounts. Implement multi-factor authentication, strong password policies, and regular password updates. Additionally, consider implementing biometric authentication methods for added security.

2. Real-Time Transaction Monitoring: Implement real-time transaction monitoring systems to detect and flag suspicious activities as they occur. Monitor transaction patterns, amounts, and velocity to identify potential fraudulent transactions promptly.

3. Flagging and Alert Mechanisms: Establish flagging mechanisms to identify and flag transactions that meet specific criteria indicative of fraudulent activity, such as unusual transaction amounts, multiple large transfers within a short time frame, or transactions involving flagged accounts or high-risk destinations. Set up automated alerts to notify appropriate personnel for immediate investigation.

4. Fraud Prevention Training: Provide comprehensive training to employees, especially those involved in customer service and transaction monitoring, to recognize and respond to potential fraud indicators effectively. Train employees on the latest fraud techniques, common fraud patterns, and emerging threats.

5. Regular System Updates and Patches: Ensure that all software systems, including banking platforms, security systems, and network infrastructure, are regularly updated with the latest patches and security updates to address any vulnerabilities that could be exploited by fraudsters.

6. Data Encryption and Secure Communication: Implement strong encryption protocols for sensitive customer data, both at rest and during transmission. Use secure communication channels, such as HTTPS, for online banking and customer interactions.

### Assuming these actions have been implemented, how would you determine if they work?

To determine the effectiveness of the implemented actions in preventing fraud, you can employ several approaches to assess their impact. Here are a few methods to evaluate the effectiveness of the prevention measures:

1. Customer Feedback and Complaints: Solicit feedback from customers regarding their experiences with the enhanced security measures. Monitor customer complaints related to fraudulent transactions and assess whether there is a decrease in reported incidents or positive feedback indicating increased confidence in the security measures.

2. Fraud Detection Model Performance: Evaluate the performance of the fraud detection model after implementing the preventive measures. Monitor the model's accuracy, precision, recall, and other relevant metrics to ensure that it continues to effectively identify and flag potential fraud cases. If the model's performance improves or remains stable, it indicates that the preventive actions are supporting the detection process.

3. Comparative Analysis: Compare the pre-implementation and post-implementation periods to identify any noticeable changes in fraud-related metrics. Analyze the trends in fraudulent activities, including transaction patterns, account behavior, and financial losses, to determine if there is a significant reduction or alteration after implementing the preventive measures.

**Submitted By:** Saurabh Prakash